<br />
<br />
<br />
<div class = "col-xs-6 col-sm-6 col-xs-offset-1">
	<h1 class = "front">Take the guess work out of giftgiving</h1>
	<br />
	<br />
	<div class = "col-xs-10 col-sm-8 col-xs-offset-1">
		<p>Make a wish and send them to your loved ones or create a gift registry for all your celebrations.</p>
		<p>You can also search for your loved ones' wishes and shower them with love!</p>
		<br />
		<p>Sign in to create your wish lists</p>
	</div>
</div>