
$navbar-height: 70px;

.navbar{
  border-radius: 0;
  border-width: 0;
  border-top: 9px solid #222222;
  border-bottom: 2px solid #D9D9D9;
  background: transparent;
  min-height: $navbar-height;
}

.navbar .nav >li > a {
  color: white;
}

.navbar .navbar-brand {
  color: black;
  font-family: "Helvetica Nueue", Helvetica, sans-serif;
  font-weight: 600;
}

body {
  background:  url('gift2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

h1.front {
  font-family: "eraserregular";
  color: white;
}

h1 {
  font-family: "eraserregular";
  color: white;
}

h2 {
  font-family: "Helvetica Nueue", Helvetica, sans-serif;
  font-weight: 100;
}

.overlay {
  background-color: #000;
  height: 100%;
  width: 100%;
  top: $navbar-height;
  left: 0;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

.clr {
  clear: both;
}

/*.nav.navbar-nav.navbar-right a {
  color: white;
}*/

a {
  color: white;
}

.email {
  font-family: "Helvetica Nueue", Helvetica, sans-serif;
  font-weight: 100; 
}

.title {
  font-family: "Helvetica Nueue", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
}