
$navbar-height: 60px;

.navbar{
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: #D9D9D9;
  background: transparent;
  min-height: $navbar-height;
}

body {
  background:  url('oranges.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  background-color: #000;
  height: 100%;
  width: 100%;
  top: $navbar-height;
  left: 0;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

.clr {
  clear: both;
}

.nav.navbar-nav.navbar-right a {
  color: white;
}